@model Dish
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Edit </h1>
    <a href = "/">Home</a>

    <hr>
    <form asp-action="ProcessEdit" asp-route-id="@ViewBag.onedish.DishId" asp-controller="Home" method="post">
        <span class="text-danger" asp-validation-for="Chef"></span>
        <label asp-for="Chef">Chef's Name</label>
        <input asp-for="Chef" placeholder="@ViewBag.onedish.Chef">
        <span asp-validation-for="Chef"></span>
        <br>
        <br>
        <span class="text-danger" asp-validation-for="Name"></span>
        <label asp-for="Name">Dish Name</label>
        <input asp-for="Name" placeholder="@ViewBag.onedish.Name">
        <span asp-validation-for="Name"></span>
        <br>
        <br>
        <span class="text-danger" asp-validation-for="Calories"></span>
        <label asp-for="Calories"># of Calories</label>
        <input asp-for="Calories" placeholder="@ViewBag.onedish.Calories">
        <span asp-validation-for="Calories"></span>
        <br>
        <br>
        <span class="text-danger" asp-validation-for="Tastiness"></span>
        <label asp-for="Tastiness">Tastiness</label>
        <select asp-for="Tastiness" placeholder="@ViewBag.onedish.Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
        <br>
        <br>
        <span class="text-danger" asp-validation-for="Description"></span>
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" placeholder="@ViewBag.onedish.Description"></textarea>
        <span asp-validation-for="Description"></span>
        <br>
        <br>
        <input value = "Update Dish" type = "submit">
    </form>
</body>
</html>