@model Dish;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Dish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
</head>
<body>
    <h1>@ViewBag.onedish.Name</h1>
    <h4>@ViewBag.onedish.Chef</h4>
    <a href = "/">Home</a>
    <hr>
    <p>@ViewBag.onedish.Description</p>
    <p>Calories: @ViewBag.onedish.Calories</p>
    <p>Tastiness: @ViewBag.onedish.Tastiness</p>
    <a href = "/delete/@ViewBag.onedish.DishId">Delete</a>
    | <a href = "/edit/@ViewBag.onedish.DishId">Edit Dish</a>
</body>
</html>